.planet-name-big {
  font-size: 25px;
  font-family: "Open Sans";
  font-weight: 300;
}


.planet-infos-container {
  display: flex;
  flex-direction: column;
}


.planet-info-small {
  font-size: 14px;
  font-family: "Open Sans";
  font-weight: 300;
}


.planet-picture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid lightgrey;
  position: relative;
}

.carret {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 10px solid lightgrey;
  border-bottom: 5px solid transparent;
  right: -10px;
  top: calc(50% - 5px);
}


@keyframes orbit {
  0% {
    transform: rotateZ(0deg); }

  100% {
    transform: rotateZ(360deg); }
}

@keyframes orbitrev {
  0% {
    transform: rotateZ(0deg); }

  100% {
    transform: rotateZ(-360deg); }
}


.planet-animation {
  animation-name: orbit;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
 }

 .planet-animation-reverse {
  animation-name: orbitrev;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
 }


.dim-container {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: relative;
}

.system-with-sun-and-planets {
  width: 100%;
  height: 100%;
  background-color: black;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


.transform-in-three-dim {
  transform: scale(0.5);
}



.transform-in-three-dim-none {
  transform: scale(0.5);
}

.system-left-menu {
  position: absolute;
  width: 300px;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  z-index: 30;
}

.sun-system {
  border-radius: 50%;
  background-color: yellow;
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  box-shadow: 0px 0px 120px 20px yellow;
}

.planet-center {
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
}

.planet-center-test {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
}

.planet-orbit {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  border: 1px solid transparent;
  position: absolute;
  top: calc(50% - 5px);
  z-index: 10;
}

.orbit-circle {
  border: 1px solid rgba(255,255,255,0.2);
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  opacity: 0.2;
}

.planet-orbit-name-container {
  position: relative;
}

.dynamic-planet-name {
  position: absolute;
  top: -5px;
  left: 15px;
  font-size: 11px;
  font-family: "Open Sans";
  min-width: 100px;
  color: rgba(255,255,255,0.8);
}

.dynamic-planet-name2 {
  position: absolute;
  top: 40px;
  left: 110px;
  font-size: 13px;
  font-family: "Circular-Medium";
  width: 180px;
  color: rgba(255,255,255,0.8);
}










.planet-temperature-01 {
  font-size: 12px;
  font-family: "Circular-Book";
  color: #47D6B6;
}

.planet-temperature-02 {
  font-size: 12px;
  font-family: "Circular-Book";
  color: #17B3C1;
}

.planet-temperature-03 {
  font-size: 12px;
  font-family: "Circular-Book";
  color: #BFF8D4;
}

.planet-temperature-04 {
  font-size: 12px;
  font-family: "Circular-Book";
  color: #B9E937;
}

.planet-temperature-05 {
  font-size: 12px;
  font-family: "Circular-Book";
  color: #FF5733;
}

.planet-temperature-06 {
  font-size: 12px;
  font-family: "Circular-Book";
  color: #C70039;
}


.presence-of-liquid-water {
  font-size: 11px;
  font-family: "Circular-Book";
  color: #17B3C1;
  margin-right: 8px;
}

.presence-of-life {
  font-size: 11px;
  font-family: "Circular-Book";
  color: #B9E937;
  margin-right: 8px;
}

.presence-of-atmosphere {
  font-size: 11px;
  font-family: "Circular-Book";
  color: #17B3C1;
  margin-right: 8px;
}


.flex-dispo {
  display: flex;
  align-items: center;
  width: 300px;
}









.solar-class-category-container {
  display: flex;
  align-items: flex-start;
}

.solar-class-title {
  font-size: 13px;
  font-family: "Circular-Book";
}

.solar-class1 {
  color: rgba(255,255,255,0.3);
  font-family: "Circular-Black";
}

.sun-small-text {
  font-size: 11px;
  font-family: "Circular-Book";
  color: rgba(255,255,255,0.7);
  margin-right: 8px;
}






.fa-tint {
  color: #17B3C1;
}

.fa-pagelines {
  color: #B9E937;
}

.fa-cloud {
  color: #17B3C1;
  font-size: 10px;
  padding-bottom: 2px;
}


.rotation-time {
  font-size: 11px;
  font-family: "Circular-Book";
  color: #52D681;
  margin-right: 8px;
}

.rotation-time-small {
  font-size: 10px;
  font-family: "Circular-Book";
  color: #52D681;
  margin-left: 8px;
}

.fa-adjust {
  color: #52D681;
}


.recap-planet-name {
  font-size: 15px;
  font-family: "Circular-Bold";
}

.recap-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 2px solid rgba(255,255,255,0.4);
  padding-top: 10px;
}

.rotation-title {
  font-size: 11px;
  font-family: "Circular-Medium";
  margin-right: 9px;
}


.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}

.margins-on-top {
  margin-top: 20px;
}






.dynamic-planet-type-super-jupiter {
  font-size: 11px;
  font-family: "Circular-Book";
  color: #F73F52;
}

.dynamic-planet-type-hot {
  font-size: 11px;
  font-family: "Circular-Book";
  color: #C70039;
}

.dynamic-planet-type-cold {
  font-size: 11px;
  font-family: "Circular-Book";
  color: #47D6B6;
}

.dynamic-planet-type-good {
  font-size: 11px;
  font-family: "Circular-Book";
  color: #B9E937;
}

.dynamic-planet-type-anomaly {
  font-size: 11px;
  font-family: "Circular-Book";
  color: #F73F52;
}

.dynamic-planet-type-helium {
  font-size: 11px;
  font-family: "Circular-Book";
  color: #17B3C1;
}



.great-header {
  width: 100%;
  height: 26px;
  border-bottom: 1px solid rgba(255,255,255,0.4);
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 12px;
}

.small-header-text {
  font-size: 11px;
  font-family: "Circular-Book";
  color: #B9E937;
}



.verybig-name {
  font-size: 16px;
}




.small-solar-color-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}


.new-height {
  height: 25px;
}





.dynamic-planet-type-super-jupiter2 {
  font-size: 11px;
  font-family: "Circular-Medium";
  color: #F73F52;
}

.dynamic-planet-type-hot2 {
  font-size: 11px;
  font-family: "Circular-Medium";
  color: #C70039;
}

.dynamic-planet-type-cold2 {
  font-size: 11px;
  font-family: "Circular-Medium";
  color: #47D6B6;
}

.dynamic-planet-type-good2 {
  font-size: 11px;
  font-family: "Circular-Medium";
  color: #B9E937;
}

.dynamic-planet-type-anomaly2 {
  font-size: 11px;
  font-family: "Circular-Medium";
  color: #F73F52;
}

.dynamic-planet-type-helium2 {
  font-size: 11px;
  font-family: "Circular-Medium";
  color: #17B3C1;
}





















.fa-exclamation {
  color: #F73F52;
  margin-left: 8px;
}







.earth-times01 {
  font-size: 10px;
  font-family: "Circular-Book";
  padding-top: 2px;
  margin-left: 8px;
  color: #B9E937;
}

.earth-times02 {
  font-size: 10px;
  font-family: "Circular-Book";
  padding-top: 2px;
  margin-left: 8px;
  color: #FF5733;
}

.earth-times03 {
  font-size: 10px;
  font-family: "Circular-Book";
  padding-top: 2px;
  margin-left: 8px;
  color: #F73F52;
}






.dynamic-planet-infos {
  font-size: 10px;
  font-family: "Circular-Book";
  font-weight: 300;
  color: rgba(255,255,255,0.5);
}

.name-line {
  position: absolute;
  width: 80px;
  height: 50px;
  -webkit-transform: skew(20deg);
     -moz-transform: skew(20deg);
       -o-transform: skew(20deg);
  background: transparent;
  border-left: 1px solid rgba(255,255,255,0.4);
  border-bottom: 1px solid rgba(255,255,255,0.4);
}

.name-line-rel-cont {
  position: relative;
  -webkit-transform: skew(-20deg);
     -moz-transform: skew(-20deg);
       -o-transform: skew(-20deg);
}



.left-menu-header {
  height: 100%;
  width: 100%;
  background-color: transparent;
  color: rgba(255,255,255,0.7);
  padding: 20px;
  flex-direction: column;
}


.sun-name {
  font-size: 20px;
  font-family: "Circular-Bold";
  font-weight: 100;
  color: rgba(255,255,255,0.8);
  margin-left: 5px;
}

.sun-name-title {
  font-size: 16px;
  font-family: "Circular-Book";
  font-weight: 100;
  color: rgba(255,255,255,0.8);
}

.sun-planet-count {
  font-size: 12px;
  font-family: "Open Sans";
  font-weight: 100;
  color: rgba(255,255,255,0.8);
}


.menu-header-container {
  margin-bottom: 10px;
}



.dim-trigger {
  position: absolute;
  right: 50px;
  top: 50px;
  z-index: 400;
  font-size: 15px;
  font-family: "Circular-Book";
  color: rgba(255,255,255,0.5);
  cursor: pointer;
}

.hidden-infos-trigger {
  position: absolute;
  right: 50px;
  top: 80px;
  z-index: 400;
  font-size: 15px;
  font-family: "Circular-Book";
  color: rgba(255,255,255,0.5);
  cursor: pointer;
}





.revo-color {
  color: #F7E74A;
}

.revo-color5 {
  font-size: 11px;
  margin-right: 8px;
  color: #17B3C1;
}








.icon-ios-snowy {
  font-size: 20px;
  color: #17B3C1;
  padding-top: 6px;
  margin-left: 4px;
}



.new-link-to-planet {
  font-size: 12px;
  font-family: "Circular-Bold";
  color: rgba(255,255,255,0.8);
  margin-right: 6px;
}

.go-to-link {
  font-size: 12px;
  font-family: "Circular-Book";
  color: rgba(255,255,255,0.8);
  margin-right: 6px;
}

.planet-real-button {
  border: 1px solid rgba(255,255,255,0.5);
  display: flex;
  border-radius: 2px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 20px;
}


.moon-body-planet-center {
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
}


.moon-body-planet-center-relative {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
}

.moon-body {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #5588A3;
  opacity: 0.6;
}


.moon-orbit-circle {
  border-radius: 50%;
  position: absolute;
  border: 1px solid #5588A3;
  z-index: 1000;
  opacity: 0.6;
}


.large-orbit-count1 {
  color: #B9E937;
  transition: 7s ease;
}

.large-orbit-count2 {
  color: #FF5733;
  transition: 7s ease;
}

.large-orbit-count3 {
  color: #F73F52;
  transition: 7s ease;
}


.winter {
  font-size: 11px;
  font-family: "Circular-Book";
  color: #17B3C1;
}

.summer {
  font-size: 11px;
  font-family: "Circular-Book";
  color: #FF5733;
}

.dyn-temp-text {
  font-size: 11px;
  font-family: "Circular-Book";
}

.path-and-orbit {
  margin-right: 7px;
  font-size: 11px;
  font-family: "Circular-Book";
  font-weight: 100;
  color: #17B3C1;
}

.numbers-dynamic {
  font-size: 12px;
  font-family: "Circular-Book";
  font-weight: 100;
  letter-spacing: 1px;
  color: #17B3C1;
  margin-right: 5px;
}

.numbers-dynamic2 {
  font-size: 12px;
  font-family: "Circular-Book";
  font-weight: 100;
  letter-spacing: 1px;
  margin-right: 5px;
}

.dyn-current-temp {
  font-size: 12px;
  font-family: "Circular-Book";
  font-weight: 100;
  letter-spacing: 1px;
  margin-right: 5px;
}

.current-temp-title {
  margin-right: 7px;
  font-size: 11px;
  font-family: "Circular-Book";
}

.average-temp-title {
  margin-right: 7px;
  font-size: 11px;
  font-family: "Circular-Book";
}





.magic {
  font-family: "Circular-Medium";
  font-size: 15px;
}

.magic-pad {
  padding-top: 4px;
}


.daytime {
  margin-right: 5px;
  font-size: 12px;
  color: #F7E74A;
}

.nightime {
  margin-right: 5px;
  font-size: 12px;
  color: #2E94B9;
}




.daytime-text {
  font-size: 11px;
  font-family: "Circular-Book";
  color: #F7E74A;
  min-width: 60px;
}

.nightime-text {
  font-size: 11px;
  font-family: "Circular-Book";
  color: #2E94B9;
  min-width: 60px;
}

.dynamic-line {
  height: 7px;
  width: 100px;
  border-radius: 2px;
  position: relative;
  border: 1px solid #F7E74A;
}

.dyn-line-size {
  height: 3px;
  width: 100px;
  border-radius: 2px;
  position: relative;
  border: 1px solid #F7E74A;

}


.dyn-line-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 2px;
  background-color: #F7E74A;
}

.dyn-line-size-full {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 2px;
  background-color: #F7E74A;
}








.very-little-line-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.very-little-line {
  width: 1px;
  height: 6px;
  position: absolute;
  right: 0;
  top: -6px;
  border-right: 2px solid #F7E74A;
  opacity: 0.6;
}


.circadian-percent {
  font-size: 10px;
  position: absolute;
  top: -14px;
  left: -7px;
  font-family: "Circular-Book";
  letter-spacing: 1px;
  color: #F7E74A;
}

.other-color-circadian {
  color: #2E94B9;
}


.very-little-line-container-trig {
  width: 100%;
  height: 100%;
  position: relative;
}

.very-little-line-trig {
  width: 1px;
  height: 6px;
  position: absolute;
  right: 0;
  top: -6px;
  border-right: 2px solid #F7E74A;
  opacity: 0.6;
}

.solar-eruption {
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,0.9);
  box-shadow: 0px 0px 2px 1px rgba(255,255,255,0.9), inset 0px 0px 2px 1px rgba(255,255,255,0.9);
  opacity: 0.2;
}







.other-color {
  background-color: #2E94B9;
  border-color: #2E94B9;
}

.other-color-cont {
  border-color: #2E94B9;
}

.icon-container-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
}

.my-rotate-dot {
  width: 12px;
  height: 12px;
  position: relative;
  border-radius: 50%;
  border: 2px solid #2E94B9;
  margin-right: 6px;
}

.my-rotate-dot-line {
  width: 4px;
  height: 4px;
  position: absolute;
  border-bottom: 2px solid #2E94B9;
  top: 1px;
  left: 4px;
}






.sun-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(transparent, black);
  border-radius: 50%;
  opacity: 0.7;
  filter: blur(5px) contrast(600%);
}

.sun-shadow2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(transparent, black);
  border-radius: 50%;
  opacity: 0.8;
}

.sun-shadow3 {
  position: absolute;
  width: 600%;
  height: 80%;
  top: 15%;
  left: -250%;
  background: white;
  border-radius: 50%;
  opacity: 0.2;
  box-shadow: 0px 0px 180px 60px white;
  filter: blur(11px) invert(50%);
}

.ecliptic-big-line {
  width: 100%;
  height: 50%;
  border-top: 1px solid rgba(255,255,255,0.1);
  top: 50%;
  left: 0;
  position: absolute;
}

.ecliptic-big-line-relative {
  width: 100%;
  height: 100%;
  position: relative;
}

.ecliptic-big-line-text {
  position: absolute;
  top: -30px;
  right: 100px;
  color: white;
  font-size: 14px;
  font-family: "Circular-Book";
  opacity: 0.8;
}


body {
  margin: 0;
}

canvas {
 width: 100%;
 height: 50%;
}


















